@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #222831;
  color: #eee;
}

.app-container .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

h3 {
  font-weight: normal;
}

.click-area {
  position: fixed;
  top: 4.5rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  background-color: #393e46;
  border-radius: 4px;
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 8px;
}

button {
  background-color: #393e46;
  color: #eee;
  font-size: 18px;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-family: "Nunito", sans-serif;
}
