@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #eee;
  color: #393e46;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.form {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  margin-top: 2rem;
}

.select-width {
  width: 400px;
}

.optional {
  opacity: 0.5;
  margin-top: 5px;
  font-size: smaller;
}

.search-btn {
  font-family: "Nunito", sans-serif;
  background-color: #00adb5;
  color: #eee;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 20px;
  padding: 0.25rem 0.75rem 0.4rem 0.75rem;
  cursor: pointer;
}

.chart-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bar-width {
  width: 650px;
  height: 325px;
}

.cost-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.cost-data {
  width: fit-content;
  background-color: #fff;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.cost-data.summary {
  width: 932px;
  background-color: #00adb5;
  color: #eee;
}

.cost-type {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cost-label {
  font-size: 18px;
}

.cost-value {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding-bottom: 0.5rem;
  border-bottom: 0.25px solid #393e46;
}

.cost-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1000px) {
  .logo-area {
    font-size: 13px;
  }

  .form {
    flex-direction: column;
    align-items: center;
  }

  .select-width {
    width: 360px;
  }

  .optional {
    font-size: 11.5px;
  }

  .search-btn {
    padding: 0.25rem 0.75rem;
    margin-top: 1rem;
  }

  .bar-width {
    width: 350px;
    height: 125px;
  }

  .cost-container {
    gap: 1rem;
  }

  .cost-data.summary {
    width: 358px;
  }

  .cost-label {
    font-size: 14px;
  }

  .cost-value {
    width: 325px;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .cost-heading {
    font-size: 1.25rem;
  }

  .cost-price {
    font-size: 14px;
  }

  .cost-loading {
    font-size: 1.5rem;
  }
}
